[submodule "erforce"]
	path = erforce
	url = https://github.com/robotics-erlangen/autoref.git
[submodule "tigers"]
	path = tigers
	url = https://gitlab.tigers-mannheim.de/open-source/AutoReferee.git
[submodule "cmdragons"]
	path = cmdragons
	url = https://github.com/dzhu/ssl-autoref.git
[submodule "test/ssl-logtools"]
	path = test/ssl-logtools
	url = https://github.com/RoboCup-SSL/ssl-logtools.git
